*	{font-family:Verdana,sans-serif;}
.title	{font-size:small;font-weight:bold;}
.text	{font-size:small;}
.cut	{position:absolute;border:1px dashed #e0e0e0;}
.leg	{padding:2px;display:none;}
.legimg	{width:20px;height:20px;margin-right:2px;border:1px solid #000000;vertical-align:middle;}
.legtxt	{font-size:small;vertical-align:middle;}
.key	{position:absolute;border:2px outset #c0c0c0;color:#e0e0e0;white-space:pre;overflow:hidden;}
.keytop	{position:absolute;left:0px;top:0px;margin:2px;}
.keybot	{position:absolute;left:0px;bottom:0px;margin:2px;}
.keyrgt	{position:absolute;right:0px;bottom:0px;margin:2px;font-size:small;font-weight:bold;}
.keyadd	{position:absolute;top:0px;right:0px;margin:2px;text-align:right;}
.keyimg	{position:absolute;bottom:0px;right:0px;width:32px;height:32px;}
.keycap	{font-size:small;font-weight:bold;}
.keydes	{font-size:x-small;}
.addxtr	{font-size:xx-small;color:#00ffff;}
.addagr	{font-size:xx-small;color:#ffff00;}
.addalt	{font-size:xx-small;color:#ff0000;}
.addctr	{font-size:xx-small;color:#00ff00;}
.addshf	{font-size:xx-small;color:#0000ff;}
.cssA	{background:#ff0000;color:#000000;}
.cssB	{background:#ffff00;color:#000000;}
.cssC	{background:#009900;color:#000000;}
.cssD	{background:#3333cc;color:#ffffff;}
.cssE	{background:#cccccc;color:#000000;}
.cssF	{background:#999999;color:#ffffff;}
.cssG	{background:#666666;color:#ffffff;}
.cssH	{background:#ffffcc;color:#000000;}
.cssI	{background:#666600;color:#000000;}
.cssJ	{background:#ff9900;color:#000000;}
.cssK	{background:#ffffff;color:#000000;}
.cssL	{background:#000000;color:#ffffff;}
.red	{}
.yel	{}
.grn	{}
.cyn	{}
.blu	{}
.mag	{}
.wht	{}
.gry	{}
.blk	{}
.org	{}
.olv	{}
