IndexIgnore *
<Files "keyboard-connection.php">
    Order Allow,Deny
    Deny from all
</Files>
Redirect 301 /keyboard/keyboardchart.php /keyboard/keyboard-init.php
Redirect 301   /keyboard/keyboard.js.php   /keyboard/lib/keyboard.js
Redirect 301  /keyboard/keyboardlist.php /keyboard/keyboard-list.php
Redirect 301   /keyboard/keyboardlog.php  /keyboard/keyboard-log.php
Redirect 301  /keyboard/keyboardwiki.php /keyboard/chart-wiki.php
RewriteEngine on
RewriteRule ^chart-(.*)\.php$ ./keyboard-diagram-$1.php [R=301,L]
RewriteRule   ^kbd-(.*)\.svg$ ./keyboard-diagram-$1.svg [R=301,L]
RewriteRule ^keyboard-diagram-(.*)\.php$ ./lib/keyboard-init.php?seo=$1 [QSA]
RewriteRule ^keyboard-diagram-(.*)\.svg$ ./lib/keyboard-init.php?seo=$1 [QSA]
