*		{font-family:DejaVu Sans Condensed,Sans-Serif;}
body		{background:#ffffff;color:#000000;font-size:11pt;}
select		{background:#ffffff;color:#000000;}
option		{background:#ffffff;color:#000000;}
footer		{font-size:smaller;clear:left;}
div.bodiv	{position:relative;margin:0.5em;padding:18px;border:solid 1px #c0c0c0;}
div.svgdiv	{position:relative;margin:0.5em;padding: 0px;border:solid 1px #c0c0c0;}
div.combox	{width:20em;float:left;}
