*		{}
body		{background:#ffffff;color:#000000;margin:0;padding:0;font-size:11pt;font-family:"DejaVu Sans Condensed",Helvetica,Sans-Serif;}
select		{background:#ffffff;color:#000000;border:1px solid #000000;}
option		{background:#ffffff;color:#000000;padding:0.2em;}
optgroup	{background:#f0f0f0;color:#000000;padding:0.2em;font-weight:bold;}
footer		{margin:0;padding:0;font-size:smaller;}
header		{margin:0;padding:0;}
main		{margin:0;padding:0;}
table#footswitch th	{font-weight:bold;text-align:right;}
input[type="radio"]	{margin-left:0.5em;vertical-align:middle;}
input[type="button"]	{margin-left:0.5em;}
select.stylechange	{margin-left:0.5em;}
label		{}
div.boxdiv	{margin:6px;padding:18px;position:relative;border:solid 1px #c0c0c0;}
div.svgdiv	{margin:6px;padding:   0;position:relative;border:solid 1px #c0c0c0;}
div.comdiv	{margin:3px;padding:18px;position:relative;border:solid 1px #c0c0c0;width:22em;}
div#flxdiv	{margin:3px;padding:   0;margin-top:-3px;margin-bottom:-3px;display:flex;flex-direction:row;flex-wrap:wrap;}
a:link,a:visited	{text-decoration:none;}
a:hover,a:active	{text-decoration:underline;}
