*	{font-family:Arial Narrow,Geneva,sans-serif;}
body	{color:#000;font-size:11pt;}
/*body	{background:url(../images/isometric_grid.png) fixed #666;}*/
body
{
	/* scale(0.5,0.5) rotate(90deg) translate(-830px,0px) */
	transform:		scale(0.5,0.5);
	-ms-transform:		scale(0.5,0.5);	/* old IE 9 */
	-webkit-transform:	scale(0.5,0.5);	/* old Chrome, Safari, Opera */
	-moz-transform:		scale(0.5,0.5);	/* old Firefox */
	-o-transform:		scale(0.5,0.5);	/* old Opera */
	transform-origin:		0% 0%;
	-ms-transform-origin:		0% 0%;	/* old IE 9 */
	-webkit-transform-origin:	0% 0%;	/* old Chrome, Safari, Opera */
	-moz-transform-origin:		0% 0%;	/* old Firefox */
	-o-transform-origin:		0% 0%;	/* old Opera */
}

select	{color:#000;background:#ffffff;border:1px solid #000;}
option	{color:#000;background:#ffffff;}
footer	{font-size:smaller;}
.bodiv	{position:relative;margin:1em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
