*		{font-family:DejaVu Sans Condensed,Sans-Serif;}
body		{background:#404040;color:#ffffff;font-size:11pt;}
select		{background:#ffffff;color:#000000;}
option		{background:#ffffff;color:#000000;}
footer		{font-size:smaller;}
a:link,a:visited
	{color:#ffff00;text-decoration:none;}
a:hover,a:active
	{color:#ffff00;text-decoration:underline;}
div.bodiv	{position:relative;margin:0em;padding:18px;}
