*		{}
body		{color:#000000;background:#ffffff;font-family:Verdana,Sans-Serif;font-size:11pt;}
footer		{font-size:smaller;}
table#footswitch th	{font-weight:bold;text-align:right;}
input[type="radio"]	{margin-left:0.5em;vertical-align:middle;}
input[type="button"]	{margin-left:0.5em;}
select.stylechange	{margin-left:0.5em;}
div.boxdiv	{margin:6px;padding:18px;position:relative;border:solid 1px #c0c0c0;}
div.svgdiv	{margin:6px;padding:   0;position:relative;border:solid 1px #c0c0c0;}
div.comdiv	{margin:3px;padding:18px;position:relative;border:solid 1px #c0c0c0;width:22em;}
div#flxdiv	{margin:3px;padding:   0;margin-top:-3px;margin-bottom:-3px;display:flex;flex-direction:row;flex-wrap:wrap;}
