*	{font-family:Verdana,Sans-Serif;}
body	{color:#fff;background:#000;font-size:11pt;}
select	{color:#fff;background:#000;border:1px solid #fff;}
option	{color:#fff;background:#000;}
footer	{font-size:smaller;}
.bodiv	{position:relative;margin:1em;margin-top:0em;}
