*	{font-family:DejaVu Sans Condensed,Sans-Serif;}
body	{color:#000000;background:#ffffff;font-size:11pt;}
select	{color:#000000;background:#ffffff;border:1px solid #000000;}
option	{color:#000000;background:#ffffff;}
footer	{font-size:smaller;}
.bodiv	{position:relative;margin:1em;margin-top:0em;}
