*	{font-family:DejaVu Sans Condensed,Sans-Serif;}
body	{color:#fff;background:#444;font-size:11pt;}
select	{color:#000;background:#fff;border:1px solid #000;}
option	{color:#000;background:#fff;}
footer	{font-size:smaller;}
.bodiv	{position:relative;margin:1em;margin-top:0em;}
a:link,a:visited
	{color:#ff0;text-decoration:none;}
a:hover,a:active
	{color:#ff0;text-decoration:underline;}
