*		{font-family:Verdana,sans-serif;}
body		{color:#000000;background:#ffffff;font-size:11pt;}
select		{color:#000000;background:#ffffff;border:1px solid #000000;}
option		{color:#000000;background:#ffffff;}
footer		{font-size:smaller;}
div.bodiv	{position:relative;margin:1em;}
div.keyout	{position:absolute;overflow:hidden;font-size:smaller;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
div.keyhgh,div.keylow,div.keyrgt,div.capopt,div.capopf
		{position:absolute;overflow:hidden;padding:2px;white-space:pre;text-shadow:0px 1px 1px #444;}
div.keyhgh	{font-weight:  bold;left: 0px;top:   0px;}
div.keylow	{font-weight:  bold;left: 0px;bottom:0px;}
div.keyrgt	{font-weight:  bold;right:0px;top:   0px;}
div.keynon	{display:none;}
div.capopt	{font-weight:normal;left: 0px;bottom:0em;}
div.capopf	{font-weight:normal;left: 0px;bottom:1em;}
div.capshf,div.capctl,div.capalt,div.capagr,div.capxtr
		{position:relative;overflow:hidden;padding:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
div.capshf	{color:#077BC7;}	/* CIE-L*ch ( 50, 47,270)	blue	*/
div.capctl	{color:#028946;}	/* CIE-L*ch ( 50, 55,150)	green	*/
div.capalt	{color:#ED0631;}	/* CIE-L*ch ( 50, 88, 30)	red	*/
div.capagr	{color:#D403CB;}	/* CIE-L*ch ( 50, 97,330)	magenta	*/
div.capxtr	{color:#0B848F;}	/* CIE-L*ch ( 50, 29,210)	cyan	*/
img.capimg	{position:absolute;}
div.legtbl	{display:table;border-collapse:separate;border-spacing:2px;}
div.legrow	{display:table-row;}
div.legcll	{display:table-cell;padding:1px;vertical-align:middle;}
div.legtxt	{width:12em;}
div.inbtop	{display:inline-block;vertical-align:top;}
div.inbmid	{display:inline-block;vertical-align:middle;}
div.combox	{width:22em;}
div.capred,div.legred,option.selred	{background-image:-webkit-linear-gradient(#fff,#FC9C93);background-image:-moz-linear-gradient(#fff,#FC9C93);background-image:linear-gradient(#fff,#FC9C93);}	/* CIE-L*ch ( 74, 40, 30) */
div.capyel,div.legyel,option.selyel	{background-image:-webkit-linear-gradient(#fff,#CEB46C);background-image:-moz-linear-gradient(#fff,#CEB46C);background-image:linear-gradient(#fff,#CEB46C);}	/* CIE-L*ch ( 74, 40, 90) */
div.capgrn,div.leggrn,option.selgrn	{background-image:-webkit-linear-gradient(#fff,#7CC690);background-image:-moz-linear-gradient(#fff,#7CC690);background-image:linear-gradient(#fff,#7CC690);}	/* CIE-L*ch ( 74, 40,150) */
div.capcyn,div.legcyn,option.selcyn	{background-image:-webkit-linear-gradient(#fff,#0CC9D9);background-image:-moz-linear-gradient(#fff,#0CC9D9);background-image:linear-gradient(#fff,#0CC9D9);}	/* CIE-L*ch ( 74, 40,210) */
div.capblu,div.legblu,option.selblu	{background-image:-webkit-linear-gradient(#fff,#80B9FF);background-image:-moz-linear-gradient(#fff,#80B9FF);background-image:linear-gradient(#fff,#80B9FF);}	/* CIE-L*ch ( 74, 40,270) */
div.capmag,div.legmag,option.selmag	{background-image:-webkit-linear-gradient(#fff,#E4A0DB);background-image:-moz-linear-gradient(#fff,#E4A0DB);background-image:linear-gradient(#fff,#E4A0DB);}	/* CIE-L*ch ( 74, 40,330) */
div.capwht,div.legwht,option.selwht	{background-image:-webkit-linear-gradient(#fff,#ffffff);background-image:-moz-linear-gradient(#fff,#ffffff);background-image:linear-gradient(#fff,#ffffff);}	/* CIE-L*ch (100,  0,  0) */
div.capgry,div.leggry,option.selgry	{background-image:-webkit-linear-gradient(#fff,#B6B6B6);background-image:-moz-linear-gradient(#fff,#B6B6B6);background-image:linear-gradient(#fff,#B6B6B6);}	/* CIE-L*ch ( 74,  0,  0) */
div.capblk,div.legblk,option.selblk	{background-image:-webkit-linear-gradient(#fff,#000000);background-image:-moz-linear-gradient(#fff,#000000);background-image:linear-gradient(#fff,#000000);}	/* CIE-L*ch (  0,  0,  0) */
div.caporg,div.legorg,option.selorg	{background-image:-webkit-linear-gradient(#fff,#ECA777);background-image:-moz-linear-gradient(#fff,#ECA777);background-image:linear-gradient(#fff,#ECA777);}	/* CIE-L*ch ( 74, 40, 60) */
div.capolv,div.legolv,option.selolv	{background-image:-webkit-linear-gradient(#fff,#A8BF75);background-image:-moz-linear-gradient(#fff,#A8BF75);background-image:linear-gradient(#fff,#A8BF75);}	/* CIE-L*ch ( 74, 40,120) */
div.capbrn,div.legbrn,option.selbrn	{background-image:-webkit-linear-gradient(#fff,#685510);background-image:-moz-linear-gradient(#fff,#685510);background-image:linear-gradient(#fff,#685510);}	/* CIE-L*ch ( 37, 40, 90) */
div.capnon,div.legnon,option.selnon	{background-image:-webkit-linear-gradient(#fff,#404040);background-image:-moz-linear-gradient(#fff,#404040);background-image:linear-gradient(#fff,#404040);}
div.legred,div.legyel,div.leggrn,div.legcyn,div.legblu,div.legmag,div.legwht,div.leggry,div.legblk,div.legorg,div.legolv,div.legbrn,div.legnon
		{text-align:center;width:1.25em;height:1.25em;}
