*	{font-family:Verdana,sans-serif;}
body	{color:#000;font-size:11pt;}
select	{color:#000;background:#fff;border:1px solid #000;}
option	{color:#000;background:#fff;}
footer	{font-size:smaller;}
.bodiv	{position:relative;margin:0.5em;padding:0.5em;}
.keyout	{position:absolute;overflow:hidden;font-size:smaller;border:1px solid #000;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.keyhgh,.keylow,.keyrgt,.capopt,.capopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;}
.keyhgh	{font-weight:  bold;left: 0px;top:   0px;}
.keylow	{font-weight:  bold;left: 0px;bottom:0px;}
.keyrgt	{font-weight:  bold;right:0px;top:   0px;}
.keynon	{display:none;}
.capopt	{font-weight:normal;left: 0px;bottom:0em;}
.capopf	{font-weight:normal;left: 0px;bottom:1em;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{position:relative;overflow:hidden;padding-left:1px;padding-right:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
.capshf	{color:#008;}
.capctl	{color:#080;}
.capalt	{color:#800;}
.capagr	{color:#808;}
.capxtr	{color:#088;}
.capimg	{position:absolute;}
.legtbl	{display:table;border-collapse:separate;border-spacing:2px;}
.legrow	{display:table-row;}
.legcll	{display:table-cell;padding:1px;vertical-align:middle;}
.legtxt	{width:12em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
.capred,.legred,.selred	{background:#e22;border:1px solid #000;}
.capyel,.legyel,.selyel	{background:#ee2;border:1px solid #000;}
.capgrn,.leggrn,.selgrn	{background:#2e2;border:1px solid #000;}
.capcyn,.legcyn,.selcyn	{background:#2ee;border:1px solid #000;}
.capblu,.legblu,.selblu	{background:#22e;border:1px solid #000;}
.capmag,.legmag,.selmag	{background:#e2e;border:1px solid #000;}
.capwht,.legwht,.selwht	{background:#fff;border:1px solid #000;}
.capgry,.leggry,.selgry	{background:#888;border:1px solid #000;}
.capblk,.legblk,.selblk	{background:#000;border:1px solid #000;color:#fff;}
.caporg,.legorg,.selorg	{background:#f80;border:1px solid #000;}
.capolv,.legolv,.selolv	{background:#880;border:1px solid #000;}
.capbrn,.legbrn,.selbrn	{background:#840;border:1px solid #000;}
.capnon,.legnon,.selnon	{background:#fff;border:1px solid #000;}
.legred,.legyel,.leggrn,.legcyn,.legblu,.legmag,.legwht,.leggry,.legblk,.legorg,.legolv,.legbrn,.legnon
	{text-align:center;width:1.25em;height:1.25em;}
