*	{font-family:Verdana,sans-serif;}
body	{color:#000000;font-size:11pt;}
select	{color:#000000;background:#ffffff;border:1px solid #000000;}
option	{color:#000000;background:#ffffff;}
footer	{font-size:smaller;}
div.boxdiv	{position:relative;margin:6px;padding:18px;border:solid 1px #c0c0c0;}
div.comdiv	{position:relative;margin:3px;padding:18px;border:solid 1px #c0c0c0;}
div#flxdiv	{position:relative;margin:3px;padding:   0;margin-top:-3px;margin-bottom:-3px;display:flex;flex-direction:row;flex-wrap:wrap;}
.keyout	{position:absolute;overflow:hidden;border:1px solid #000000;font-size:smaller;}
.keyhgh,.keylow,.keyrgt,.capopt,.capopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;}
.keyhgh	{font-weight:  bold;left: 0px;top:   0px;}
.keylow	{font-weight:  bold;left: 0px;bottom:0px;}
.keyrgt	{font-weight:  bold;right:0px;top:   0px;}
.keynon	{display:none;}
.capopt	{font-weight:normal;left: 0px;bottom:0em;}
.capopf	{font-weight:normal;left: 0px;bottom:1em;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{position:relative;overflow:hidden;padding-left:1px;padding-right:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
.capshf	{color:#000080;}
.capctl	{color:#008000;}
.capalt	{color:#800000;}
.capagr	{color:#808000;}
.capxtr	{color:#000080;}
.capimg	{position:absolute;}
.legtbl	{display:table;border-collapse:separate;border-spacing:2px;}
.legrow	{display:table-row;}
.legcll	{display:table-cell;padding:1px;vertical-align:middle;}
.legtxt	{width:12em;}
.legbox	{text-align:center;width:1.25em;height:1.25em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
.cssA	{background:#c04040;border:2px outset #ff0000;}
.cssB	{background:#c0c040;border:2px outset #ffff00;}
.cssC	{background:#40c040;border:2px outset #00ff00;}
.cssD	{background:#40c0c0;border:2px outset #00ffff;}
.cssE	{background:#4040c0;border:2px outset #0000ff;}
.cssF	{background:#c040c0;border:2px outset #ff00ff;}
.capred,.legred,.selred,.optred	{}
.capyel,.legyel,.selyel,.optyel	{}
.capgrn,.leggrn,.selgrn,.optgrn	{}
.capcyn,.legcyn,.selcyn,.optcyn	{}
.capblu,.legblu,.selblu,.optblu	{}
.capmag,.legmag,.selmag,.optmag	{}
.capwht,.legwht,.selwht,.optwht	{}
.capgry,.leggry,.selgry,.optgry	{}
.capblk,.legblk,.selblk,.optblk	{}
.caporg,.legorg,.selorg,.optorg	{}
.capolv,.legolv,.selolv,.optolv	{}
.capbrn,.legbrn,.selbrn,.optbrn	{}
.capnon,.legnon,.selnon,.optnon	{}
