*	{font-family:Verdana,sans-serif;}
body	{color:#fff;background:#000;font-size:11pt;}
select	{color:#fff;background:#000;border:1px solid #fff;}
option	{color:#fff;background:#000;}
footer	{font-size:smaller;}
.bodiv	{position:relative;margin:1em;}
.key	{position:absolute;overflow:hidden;font-size:smaller;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.caphgh,.caplow,.caprgt,.keyopt,.keyopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;}
.caphgh	{font-weight:  bold;left: 0px;top:   0px;}
.caplow	{font-weight:  bold;left: 0px;bottom:0px;}
.caprgt	{font-weight:  bold;right:0px;top:   0px;}
.keyopt	{font-weight:normal;left: 0px;bottom:0em;}
.keyopf	{font-weight:normal;left: 0px;bottom:1em;}
.keyshf,.keyctl,.keyalt,.keyagr,.keyxtr
	{position:relative;overflow:hidden;padding-left:1px;padding-right:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
.keyshf	{color:#00c;}
.keyctl	{color:#0c0;}
.keyalt	{color:#c00;}
.keyagr	{color:#cc0;}
.keyxtr	{color:#0cc;}
.keyimg	{position:absolute;}
.leggrp	{margin:4px;}
.legcll	{border:1px solid #fff;}
.red	{background:#ff6600;color:#000;}
.yel	{background:#ffcc00;color:#000;}
.grn	{background:#99cc00;color:#000;}
.cyn	{background:#00ffcc;color:#000;}
.blu	{background:#3366ff;color:#000;}
.mag	{background:#ff99cc;color:#000;}
.wht	{background:#ffffff;color:#000;}
.gry	{background:#999999;color:#000;}
.blk	{background:#333333;color:#fff;}
.org	{background:#cc9900;color:#000;}
.olv	{background:#999900;color:#000;}
.brn	{background:#996600;color:#000;}
.non	{background:#c0c0c0;color:#000;}
