*	{font-family:Verdana,sans-serif;}
body	{color:#ffffff;background:#000000;font-size:11pt;}
select	{color:#ffffff;background:#000000;border:1px solid #ffffff;}
option	{color:#ffffff;background:#000000;}
footer	{font-size:smaller;}
.bodiv	{position:relative;margin:1em;}
.keyout	{position:absolute;overflow:hidden;font-size:smaller;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.keyhgh,.keylow,.keyrgt,.capopt,.capopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;text-shadow:0px 1px 1px #444;}
.keyhgh	{font-weight:  bold;left: 0px;top:   0px;}
.keylow	{font-weight:  bold;left: 0px;bottom:0px;}
.keyrgt	{font-weight:  bold;right:0px;top:   0px;}
.keynon	{display:none;}
.capopt	{font-weight:normal;left: 0px;bottom:0em;}
.capopf	{font-weight:normal;left: 0px;bottom:1em;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{position:relative;overflow:hidden;padding:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
.capshf	{color:#077BC7;}	/* CIE-L*ch ( 50, 47,270)	blue	*/
.capctl	{color:#028946;}	/* CIE-L*ch ( 50, 55,150)	green	*/
.capalt	{color:#ED0631;}	/* CIE-L*ch ( 50, 88, 30)	red	*/
.capagr	{color:#D403CB;}	/* CIE-L*ch ( 50, 97,330)	magenta	*/
.capxtr	{color:#0B848F;}	/* CIE-L*ch ( 50, 29,210)	cyan	*/
.capimg	{position:absolute;}
.leggrp	{}
.legcll	{width:1.5em;height:1.5em;margin:1px;margin-right:0.5em;}
.legtxt	{width:12em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
.capred,.legred	{background-image:-webkit-linear-gradient(#000,#FC9C93);background-image:-moz-linear-gradient(#000,#FC9C93);background-image:linear-gradient(#000,#FC9C93);}	/* CIE-L*ch ( 74, 40, 30) */
.capyel,.legyel	{background-image:-webkit-linear-gradient(#000,#CEB46C);background-image:-moz-linear-gradient(#000,#CEB46C);background-image:linear-gradient(#000,#CEB46C);}	/* CIE-L*ch ( 74, 40, 90) */
.capgrn,.leggrn	{background-image:-webkit-linear-gradient(#000,#7CC690);background-image:-moz-linear-gradient(#000,#7CC690);background-image:linear-gradient(#000,#7CC690);}	/* CIE-L*ch ( 74, 40,150) */
.capcyn,.legcyn	{background-image:-webkit-linear-gradient(#000,#0CC9D9);background-image:-moz-linear-gradient(#000,#0CC9D9);background-image:linear-gradient(#000,#0CC9D9);}	/* CIE-L*ch ( 74, 40,210) */
.capblu,.legblu	{background-image:-webkit-linear-gradient(#000,#80B9FF);background-image:-moz-linear-gradient(#000,#80B9FF);background-image:linear-gradient(#000,#80B9FF);}	/* CIE-L*ch ( 74, 40,270) */
.capmag,.legmag	{background-image:-webkit-linear-gradient(#000,#E4A0DB);background-image:-moz-linear-gradient(#000,#E4A0DB);background-image:linear-gradient(#000,#E4A0DB);}	/* CIE-L*ch ( 74, 40,330) */
.capwht,.legwht	{background-image:-webkit-linear-gradient(#000,#ffffff);background-image:-moz-linear-gradient(#000,#ffffff);background-image:linear-gradient(#000,#ffffff);}	/* CIE-L*ch (100,  0,  0) */
.capgry,.leggry	{background-image:-webkit-linear-gradient(#000,#B6B6B6);background-image:-moz-linear-gradient(#000,#B6B6B6);background-image:linear-gradient(#000,#B6B6B6);}	/* CIE-L*ch ( 74,  0,  0) */
.capblk,.legblk	{background-image:-webkit-linear-gradient(#000,#000000);background-image:-moz-linear-gradient(#000,#000000);background-image:linear-gradient(#000,#000000);}	/* CIE-L*ch (  0,  0,  0) */
.caporg,.legorg	{background-image:-webkit-linear-gradient(#000,#ECA777);background-image:-moz-linear-gradient(#000,#ECA777);background-image:linear-gradient(#000,#ECA777);}	/* CIE-L*ch ( 74, 40, 60) */
.capolv,.legolv	{background-image:-webkit-linear-gradient(#000,#A8BF75);background-image:-moz-linear-gradient(#000,#A8BF75);background-image:linear-gradient(#000,#A8BF75);}	/* CIE-L*ch ( 74, 40,120) */
.capbrn,.legbrn	{background-image:-webkit-linear-gradient(#000,#685510);background-image:-moz-linear-gradient(#000,#685510);background-image:linear-gradient(#000,#685510);}	/* CIE-L*ch ( 37, 40, 90) */
.capnon,.legnon	{background-image:-webkit-linear-gradient(#000,#404040);background-image:-moz-linear-gradient(#000,#404040);background-image:linear-gradient(#000,#404040);}
