/*font-family:Arial Narrow,sans-serif;*/
@font-face
	{font-family:pt-sans-narrow,Sans-Serif;src:url(pt-sans/PTN57F.ttf);}
@font-face
	{font-family:pt-sans-regular,Sans-Serif;src:url(pt-sans/PTS55F.ttf);}
*	{font-family:pt-sans-regular,Sans-Serif;}
body	{color:#fff;background:#444;font-size:11pt;}
select	{color:#000;background:#fff;border:1px solid #000;}
option	{color:#000;background:#fff;}
footer	{font-size:smaller;}
a:link,a:visited
	{color:#ff0;text-decoration:none;}
a:hover,a:active
	{color:#ff0;text-decoration:underline;}
.bodiv	{position:relative;margin:1em;}
.keyout	{font-family:pt-sans-narrow,sans-serif;line-height:100%;font-size:smaller;position:absolute;overflow:hidden;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow: 0px 1px 1px #444;}
.keyhgh,.keylow,.keyrgt,.capopt,.capopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;text-shadow:0px 1px 1px #444;color:#fff;}
.keyhgh	{font-weight:  bold;left: 0px;top:   0px;}
.keylow	{font-weight:  bold;left: 0px;bottom:0px;}
.keyrgt	{font-weight:  bold;right:0px;top:   0px;}
.keynon	{display:none;}
.capopt	{font-weight:normal;left: 0px;bottom:0em;}
.capopf	{font-weight:normal;left: 0px;bottom:1em;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{position:relative;overflow:hidden;padding-left:1px;padding-right:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
/* http://www.easyrgb.com/index.php?X=CALC */
.capshf	{color:#077BC7;}	/* CIE-L*ch ( 50, 47,270)	blue	*/
.capctl	{color:#028946;}	/* CIE-L*ch ( 50, 55,150)	green	*/
.capalt	{color:#ED0631;}	/* CIE-L*ch ( 50, 88, 30)	red	*/
.capagr	{color:#D403CB;}	/* CIE-L*ch ( 50, 97,330)	magenta	*/
.capxtr	{color:#0B848F;}	/* CIE-L*ch ( 50, 29,210)	cyan	*/
.capimg	{position:absolute;}
.legtbl	{display:table;border-collapse:separate;border-spacing:2px;}
.legrow	{display:table-row;}
.legcll	{display:table-cell;padding:1px;vertical-align:middle;}
.legtxt	{width:12em;}
.legbox	{text-align:center;width:1.25em;height:1.25em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
/* http://www.easyrgb.com/index.php?X=CALC */
.capred,.legred,.selred,.optred	{background:#FC9C93;color:#000;}	/* CIE-L*ch ( 74, 40, 30) */
.capyel,.legyel,.selyel,.optyel	{background:#CEB46C;color:#000;}	/* CIE-L*ch ( 74, 40, 90) */
.capgrn,.leggrn,.selgrn,.optgrn	{background:#7CC690;color:#000;}	/* CIE-L*ch ( 74, 40,150) */
.capcyn,.legcyn,.selcyn,.optcyn	{background:#0CC9D9;color:#000;}	/* CIE-L*ch ( 74, 40,210) */
.capblu,.legblu,.selblu,.optblu	{background:#80B9FF;color:#000;}	/* CIE-L*ch ( 74, 40,270) */
.capmag,.legmag,.selmag,.optmag	{background:#E4A0DB;color:#000;}	/* CIE-L*ch ( 74, 40,330) */
.capwht,.legwht,.selwht,.optwht	{background:#ffffff;color:#000;}
.capgry,.leggry,.selgry,.optgry	{background:#c0c0c0;color:#000;}
.capblk,.legblk,.selblk,.optblk	{background:#404040;color:#fff;}
.caporg,.legorg,.selorg,.optorg	{background:#ECA777;color:#000;}	/* CIE-L*ch ( 74, 40, 60) */
.capolv,.legolv,.selolv,.optolv	{background:#A8BF75;color:#000;}	/* CIE-L*ch ( 74, 40,120) */
.capbrn,.legbrn,.selbrn,.optbrn	{background:#685510;color:#000;}	/* CIE-L*ch ( 37, 40, 90) */
.capnon,.legnon,.selnon,.optnon	{background:#808080;color:#000;}
.capred,.capyel,.capgrn,.capcyn,.capblu,.capmag,.capwht,.capgry,.capblk,.caporg,.capolv,.capbrn,.capnon,
.legred,.legyel,.leggrn,.legcyn,.legblu,.legmag,.legwht,.leggry,.legblk,.legorg,.legolv,.legbrn,.legnon
	{background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent);background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent);background-image:linear-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent);}
