h2.acc_lbl {
}

div.acc_check, div.acc_xmark {
  float: right;
  display: none;
  font-size: xx-large;
  padding: 0em;
  margin: 0em;
}

div.acc_check {
  color: green;
  margin-top: 0.1em;
}

div.acc_xmark {
  color: red;
  margin-top: 0.1em;
}

div.acc_div {
  margin: 0.5em;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  width: 15em;
}

div.war_div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  width: 15em;
}

ul.acc_mnu {
  height: 32em;
}

ul.acc_mnu ul {
}

ul.acc_mnu, ul.acc_mnu ul {
  background: #444;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15em;
  display: block;
}

ul.acc_mnu a {
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

ul.acc_mnu li {
  border-top: 0.1em solid #aaa;
}

ul.acc_mnu li a {
  background: #333;
  color: #fff;	
  padding: 0.2em;
  padding-left: 0.5em;
  cursor: default;
}

ul.acc_mnu li a:hover {
  background: #000;
}

ul.acc_mnu li ul {
  background: #bbb;
  height: 15em;
  overflow: auto;
}

ul.acc_mnu li ul li a {
  color: #000;
  padding: 0.2em;
  cursor: default;
  margin-right: 1px;
}

ul.acc_mnu li ul li a.acc_nrm {
  background: #ccc;
  padding-left: 2em;
}

ul.acc_mnu li ul li a.acc_dis {
  color: #aaa;
  background: #ccc;
  padding-left: 2em;
}

ul.acc_mnu li ul li a.acc_sel {
  background: #cc0;
  border-left: 0.5em #000 solid;
  padding-left: 1.5em;
}

ul.acc_mnu li ul li a.acc_nrm:hover {
  background: #aaa;
  border-left: 0.5em #000 solid;
  padding-left: 1.5em;
}
