*	{font-family:Verdana,sans-serif;}
body	{color:#ffffff;background:#000000;font-size:11pt;}
select	{color:#ffffff;background:#000000;border:1px solid #ffffff;}
option	{color:#ffffff;background:#000000;}
footer	{font-size:smaller;}
div.boxdiv	{position:relative;margin:6px;padding:18px;}
div.comdiv	{position:relative;margin:3px;padding:18px;}
div#flxdiv	{position:relative;margin:3px;padding:   0;margin-top:-3px;margin-bottom:-3px;display:flex;flex-direction:row;flex-wrap:wrap;}
.keyout	{position:absolute;overflow:hidden;font-size:smaller;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.uppnor,.lownor,.uppagr,.lowagr,.capopt,.capopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;text-shadow:0px 1px 1px #404040;}
.uppnor	{font-weight:  bold;left: 0px;top:   0px;}
.lownor	{font-weight:  bold;left: 0px;bottom:0px;}
.uppagr	{font-weight:  bold;right:0px;top:   0px;}
.lowagr	{font-weight:  bold;right:0px;bottom:0px;}
.keynon	{display:none;}
.capopt	{font-weight:normal;left: 0px;bottom:0em;}
.capopf	{font-weight:normal;left: 0px;bottom:1em;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{position:relative;overflow:hidden;padding:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
.capshf	{color:#077BC7;}	/* CIE-L*ch ( 50, 47,270)	blue	*/
.capctl	{color:#028946;}	/* CIE-L*ch ( 50, 55,150)	green	*/
.capalt	{color:#ED0631;}	/* CIE-L*ch ( 50, 88, 30)	red	*/
.capagr	{color:#D403CB;}	/* CIE-L*ch ( 50, 97,330)	magenta	*/
.capxtr	{color:#0B848F;}	/* CIE-L*ch ( 50, 29,210)	cyan	*/
.capimg	{position:absolute;}
.legtbl	{display:table;border-collapse:separate;border-spacing:2px;}
.legrow	{display:table-row;}
.legcll	{display:table-cell;padding:1px;vertical-align:middle;}
.legtxt	{width:12em;}
.legbox	{text-align:center;width:1.25em;height:1.25em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
.capred,.legred,.selred,.optred	{background-image:-webkit-linear-gradient(#000000,#FC9C93);background-image:-moz-linear-gradient(#000000,#FC9C93);background-image:linear-gradient(#000000,#FC9C93);}	/* CIE-L*ch ( 74, 40, 30) */
.capyel,.legyel,.selyel,.optyel	{background-image:-webkit-linear-gradient(#000000,#CEB46C);background-image:-moz-linear-gradient(#000000,#CEB46C);background-image:linear-gradient(#000000,#CEB46C);}	/* CIE-L*ch ( 74, 40, 90) */
.capgrn,.leggrn,.selgrn,.optgrn	{background-image:-webkit-linear-gradient(#000000,#7CC690);background-image:-moz-linear-gradient(#000000,#7CC690);background-image:linear-gradient(#000000,#7CC690);}	/* CIE-L*ch ( 74, 40,150) */
.capcyn,.legcyn,.selcyn,.optcyn	{background-image:-webkit-linear-gradient(#000000,#0CC9D9);background-image:-moz-linear-gradient(#000000,#0CC9D9);background-image:linear-gradient(#000000,#0CC9D9);}	/* CIE-L*ch ( 74, 40,210) */
.capblu,.legblu,.selblu,.optblu	{background-image:-webkit-linear-gradient(#000000,#80B9FF);background-image:-moz-linear-gradient(#000000,#80B9FF);background-image:linear-gradient(#000000,#80B9FF);}	/* CIE-L*ch ( 74, 40,270) */
.capmag,.legmag,.selmag,.optmag	{background-image:-webkit-linear-gradient(#000000,#E4A0DB);background-image:-moz-linear-gradient(#000000,#E4A0DB);background-image:linear-gradient(#000000,#E4A0DB);}	/* CIE-L*ch ( 74, 40,330) */
.capwht,.legwht,.selwht,.optwht	{background-image:-webkit-linear-gradient(#000000,#ffffff);background-image:-moz-linear-gradient(#000000,#ffffff);background-image:linear-gradient(#000000,#ffffff);}	/* CIE-L*ch (100,  0,  0) */
.capgry,.leggry,.selgry,.optgry	{background-image:-webkit-linear-gradient(#000000,#B6B6B6);background-image:-moz-linear-gradient(#000000,#B6B6B6);background-image:linear-gradient(#000000,#B6B6B6);}	/* CIE-L*ch ( 74,  0,  0) */
.capblk,.legblk,.selblk,.optblk	{background-image:-webkit-linear-gradient(#000000,#000000);background-image:-moz-linear-gradient(#000000,#000000);background-image:linear-gradient(#000000,#000000);}	/* CIE-L*ch (  0,  0,  0) */
.caporg,.legorg,.selorg,.optorg	{background-image:-webkit-linear-gradient(#000000,#ECA777);background-image:-moz-linear-gradient(#000000,#ECA777);background-image:linear-gradient(#000000,#ECA777);}	/* CIE-L*ch ( 74, 40, 60) */
.capolv,.legolv,.selolv,.optolv	{background-image:-webkit-linear-gradient(#000000,#A8BF75);background-image:-moz-linear-gradient(#000000,#A8BF75);background-image:linear-gradient(#000000,#A8BF75);}	/* CIE-L*ch ( 74, 40,120) */
.capbrn,.legbrn,.selbrn,.optbrn	{background-image:-webkit-linear-gradient(#000000,#685510);background-image:-moz-linear-gradient(#000000,#685510);background-image:linear-gradient(#000000,#685510);}	/* CIE-L*ch ( 37, 40, 90) */
.capnon,.legnon,.selnon,.optnon	{background-image:-webkit-linear-gradient(#000000,#404040);background-image:-moz-linear-gradient(#000000,#404040);background-image:linear-gradient(#000000,#404040);}
