*	{font-family:Verdana,sans-serif;}
body	{color:#00000;font-size:11pt;}
select	{color:#00000;background:#ffffff;border:1px solid #000000;}
option	{color:#00000;background:#ffffff;}
footer	{font-size:smaller;}
div.boxdiv	{position:relative;margin:6px;padding:18px;}
div.comdiv	{position:relative;margin:3px;padding:18px;}
div#flxdiv	{position:relative;margin:3px;padding:   0;margin-top:-3px;margin-bottom:-3px;display:flex;flex-direction:row;flex-wrap:wrap;}
.keyout	{position:absolute;overflow:hidden;font-size:smaller;border:1px solid #000000;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.uppnor,.lownor,.uppagr,.lowagr,.capopt,.capopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;}
.uppnor	{font-weight:  bold;left: 0px;top:   0px;}
.lownor	{font-weight:  bold;left: 0px;bottom:0px;}
.uppagr	{font-weight:  bold;right:0px;top:   0px;}
.lowagr	{font-weight:  bold;right:0px;bottom:0px;}
.keynon	{display:none;}
.capopt	{font-weight:normal;left: 0px;bottom:0em;}
.capopf	{font-weight:normal;left: 0px;bottom:1em;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{position:relative;overflow:hidden;padding-left:1px;padding-right:1px;white-space:pre;background:transparent;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
.capshf	{color:#000080;}
.capctl	{color:#008000;}
.capalt	{color:#800000;}
.capagr	{color:#800080;}
.capxtr	{color:#008080;}
.capimg	{position:absolute;}
.legtbl	{display:table;border-collapse:separate;border-spacing:2px;}
.legrow	{display:table-row;}
.legcll	{display:table-cell;padding:1px;vertical-align:middle;}
.legtxt	{width:12em;}
.legbox	{text-align:center;width:1.25em;height:1.25em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
.capred,.legred,.selred,.optred	{background:#e02020;color:#000000;}
.capyel,.legyel,.selyel,.optyel	{background:#e0e020;color:#000000;}
.capgrn,.leggrn,.selgrn,.optgrn	{background:#20e020;color:#000000;}
.capcyn,.legcyn,.selcyn,.optcyn	{background:#20e0e0;color:#000000;}
.capblu,.legblu,.selblu,.optblu	{background:#2020e0;color:#000000;}
.capmag,.legmag,.selmag,.optmag	{background:#e020e0;color:#000000;}
.capwht,.legwht,.selwht,.optwht	{background:#ffffff;color:#000000;}
.capgry,.leggry,.selgry,.optgry	{background:#808080;color:#000000;}
.capblk,.legblk,.selblk,.optblk	{background:#000000;color:#ffffff;}
.caporg,.legorg,.selorg,.optorg	{background:#f08000;color:#000000;}
.capolv,.legolv,.selolv,.optolv	{background:#808000;color:#000000;}
.capbrn,.legbrn,.selbrn,.optbrn	{background:#804000;color:#000000;}
.capnon,.legnon,.selnon,.optnon	{background:#ffffff;color:#000000;}
.capred,.legred	{border:1px solid #000000;}
.capyel,.legyel	{border:1px solid #000000;}
.capgrn,.leggrn	{border:1px solid #000000;}
.capcyn,.legcyn	{border:1px solid #000000;}
.capblu,.legblu	{border:1px solid #000000;}
.capmag,.legmag	{border:1px solid #000000;}
.capwht,.legwht	{border:1px solid #000000;}
.capgry,.leggry	{border:1px solid #000000;}
.capblk,.legblk	{border:1px solid #000000;}
.caporg,.legorg	{border:1px solid #000000;}
.capolv,.legolv	{border:1px solid #000000;}
.capbrn,.legbrn	{border:1px solid #000000;}
.capnon,.legnon	{border:1px solid #000000;}
