*	{font-family:Verdana,sans-serif;}
body	{color:#000000;font-size:11pt;}
select	{color:#000000;background:#ffffff;border:1px solid #000000;}
option	{color:#000000;background:#ffffff;}
footer	{font-size:smaller;}
div.boxdiv	{position:relative;margin:6px;padding:18px;border:solid 1px #c0c0c0;}
div.comdiv	{position:relative;margin:3px;padding:18px;border:solid 1px #c0c0c0;}
div#flxdiv	{position:relative;margin:3px;padding:   0;margin-top:-3px;margin-bottom:-3px;display:flex;flex-direction:row;flex-wrap:wrap;}
.title	{font-size:small;font-weight:bold;}
.cut	{position:absolute;border:1px dashed #000000;}
.keyout	{position:absolute;overflow:hidden;border:1px solid #c0c0c0;font-size:smaller;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.keyhgh,.keylow,.keyrgt,.capopt,.capopf
	{position:absolute;overflow:hidden;padding:2px;white-space:pre;text-shadow:0px 0px 4px #ffffff;width:100%;}
.keyhgh	{font-weight:  bold;left: 0px;top:   0px;}
.keylow	{font-weight:  bold;left: 0px;bottom:0px;}
.keyrgt	{font-weight:  bold;right:0px;top:   0px;}
.capopt	{font-weight:normal;left: 0px;bottom:0em;}
.capopf	{font-weight:normal;left: 0px;bottom:1em;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{position:relative;overflow:hidden;padding-left:1px;padding-right:1px;white-space:pre;text-align:right;display:inline;float:right;clear:right;font-size:smaller;}
.capshf	{background:#404040;color:#ffffff;}	/*url(gray_trans_016.png), */
.capctl	{background:#808080;color:#ffffff;}	/*url(gray_trans_128.png), */
.capalt	{background:#c0c0c0;color:#000000;}	/*url(gray_trans_255.png), */
.capagr	{background:#ffffff;color:#000000;}	/*url(gray_trans_064.png), */
.capxtr	{background:#000000;color:#ffffff;}	/*url(gray_trans_192.png), */
.capimg	{position:absolute;}
.legtbl	{display:table;border-collapse:separate;border-spacing:2px;}
.legrow	{display:table-row;}
.legcll	{display:table-cell;padding:1px;vertical-align:middle;}
.legtxt	{width:12em;}
.legbox	{text-align:center;width:1.25em;height:1.25em;}
.inbtop	{display:inline-block;vertical-align:top;}
.inbmid	{display:inline-block;vertical-align:middle;}
.combox	{width:22em;}
.capred,.legred,.selred,.optred	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAE0lEQVQImWP4vx8CGaD0fwayRADXsTfBHa7CGAAAAABJRU5ErkJggg==');}					/* 1*/
.capyel,.legyel,.selyel,.optyel	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIElEQVQImWP4/////f///99ngNL/GaD0fwYo/Z+BCDUAr8A9wZ1do0gAAAAASUVORK5CYII=');}			/* 2*/
.capgrn,.leggrn,.selgrn,.optgrn	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAKElEQVQImUXLwREAIBCDwGjjxsrX1418gRRoFCqUsiQ3J9kZRv149gc33Svfk/J4xAAAAABJRU5ErkJggg==');}	/* 3*/
.capcyn,.legcyn,.selcyn,.optcyn	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAJUlEQVQImTXGsQEAMAjDMPf/o9LPzEDQJOLCXDrssMNuY3wCwB+U5TfJB20x8gAAAABJRU5ErkJggg==');}		/* 4*/
.capblu,.legblu,.selblu,.optblu	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAALUlEQVQImWNo+P+/oeH//wYmhkaGeoZGhnqmeiiL8T+Uwczo4HDwoIPDQTxqAJCDFk4qwQYgAAAAAElFTkSuQmCC');}	/* 9*/
.capmag,.legmag,.selmag,.optmag	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAKElEQVQImXWKsQ0AMAyDbOVxf+bTyJClS8UEYlLXdQUEiMKhc3jK91mRSzFflGM2CwAAAABJRU5ErkJggg==');}	/*23*/
.capwht,.legwht,.selwht,.optwht	{background:#ffffff;}
.capgry,.leggry,.selgry,.optgry	{background:#c0c0c0;}
.capblk,.legblk,.selblk,.optblk	{background:#000000;color:#ffffff;}
.caporg,.legorg,.selorg,.optorg	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGElEQVQImWNsYIAAJijNwPgfXYSlkbAaAH1lAw9WJMEiAAAAAElFTkSuQmCC');}				/* 7*/
.capolv,.legolv,.selolv,.optolv	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFklEQVQImWP8z9DIUM/QyMDEAAXkMQCuBAKQ/EVNLQAAAABJRU5ErkJggg==');}				/* 8*/
.capbrn,.legbrn,.selbrn,.optbrn	{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAAAAADhZOFXAAAACXBIWXMAAAsSAAALEgHS3X78AAAAKElEQVQImWP+z+iwv4HRYT8zI0M9QyNDPQMTlG5k/A+hGZigdD0eNQCYExGRPdzmZgAAAABJRU5ErkJggg==');}	/*10*/
.capnon,.legnon,.selnon,.optnon	{background:none;}
/*
.keyred .keyhgh, .keyred .keylow, .keyred .keyrgt, .keyred .capopt, .keyred .capopf	{background:#ffffff;color:#000000;}
.keyyel .keyhgh, .keyyel .keylow, .keyyel .keyrgt, .keyyel .capopt, .keyyel .capopf	{background:#f0f0f0;color:#000000;}
.keygrn .keyhgh, .keygrn .keylow, .keygrn .keyrgt, .keygrn .capopt, .keygrn .capopf	{background:#ffffff;color:#000000;}
.keycyn .keyhgh, .keycyn .keylow, .keycyn .keyrgt, .keycyn .capopt, .keycyn .capopf	{background:#d0d0d0;color:#000000;}
.keyblu .keyhgh, .keyblu .keylow, .keyblu .keyrgt, .keyblu .capopt, .keyblu .capopf	{background:#d0d0d0;color:#000000;}
.keymag .keyhgh, .keymag .keylow, .keymag .keyrgt, .keymag .capopt, .keymag .capopf	{background:#d0d0d0;color:#000000;}
.keywht .keyhgh, .keywht .keylow, .keywht .keyrgt, .keywht .capopt, .keywht .capopf	{background:#ffffff;color:#000000;}
.keygry .keyhgh, .keygry .keylow, .keygry .keyrgt, .keygry .capopt, .keygry .capopf	{background:#d0d0d0;color:#000000;}
.keyblk .keyhgh, .keyblk .keylow, .keyblk .keyrgt, .keyblk .capopt, .keyblk .capopf	{background:#000000;color:#ffffff;}
.keyorg .keyhgh, .keyorg .keylow, .keyorg .keyrgt, .keyorg .capopt, .keyorg .capopf	{background:#ffffff;color:#000000;}
.keyolv .keyhgh, .keyolv .keylow, .keyolv .keyrgt, .keyolv .capopt, .keyolv .capopf	{background:#ffffff;color:#000000;}
.keybrn .keyhgh, .keybrn .keylow, .keybrn .keyrgt, .keybrn .capopt, .keybrn .capopf	{background:#000000;color:#ffffff;}
.keynon .keyhgh, .keynon .keylow, .keynon .keyrgt, .keynon .capopt, .keynon .capopf	{background:none;color:#000000;}
*/
