*	{}
svg	{font-family:Verdana,Sans-Serif;font-size:14px;}
#bkgrec	{stroke:none;fill:#ffffff;}
.key	{overflow:visible;}
.legtxt	{font-size:14px;fill:#000;}
.caphgh,.caplow,.caprgt
	{font-size:12px;font-weight:bold;}
.caprgt	{text-anchor:end;}
.caprec	{}
.keynor	{font-size:12px;font-weight:normal;}
.keyshf,.keyctl,.keyalt,.keyagr,.keyxtr
	{font-size:10px;text-anchor:end;font-weight:normal;}
.keyshf	{fill:#00c;}
.keyctl	{fill:#0c0;}
.keyalt	{fill:#c00;}
.keyagr	{fill:#cc0;}
.keyxtr	{fill:#0cc;}
.bakshf	{fill:none;}
.bakctl	{fill:none;}
.bakalt	{fill:none;}
.bakagr	{fill:none;}
.bakxtr	{fill:none;}
.keyimg	{}
.recred	{fill:#ff6600;}
.recyel	{fill:#ffcc00;}
.recgrn	{fill:#99cc00;}
.reccyn	{fill:#00ffcc;}
.recblu	{fill:#3366ff;}
.recmag	{fill:#ff99cc;}
.recwht	{fill:#ffffff;stroke:#ccc;}
.recgry	{fill:#999999;}
.recblk	{fill:#333333;}
.recorg	{fill:#cc9900;}
.recolv	{fill:#999900;}
.recbrn	{fill:#663300;}
.recnon	{fill:#c0c0c0;}
.txtred	{fill:#000000;}
.txtyel	{fill:#000000;}
.txtgrn	{fill:#000000;}
.txtcyn	{fill:#000000;}
.txtblu	{fill:#000000;}
.txtmag	{fill:#000000;}
.txtwht	{fill:#000000;}
.txtgry	{fill:#000000;}
.txtblk	{fill:#ffffff;}
.txtorg	{fill:#000000;}
.txtolv	{fill:#000000;}
.txtbrn	{fill:#000000;}
.txtnon	{fill:#000000;}
