*	{}
svg	{font-family:Verdana,Sans-Serif;font-size:14px;}
#bkgrec	{stroke:none;fill:#000;}
.keyout	{overflow:visible;}
.legtxt	{font-size:14px;fill:#fff;}
.keyhgh,.keylow,.keyrgt
	{font-size:12px;font-weight:bold;}
.keyrgt	{text-anchor:end;}
.keyrec	{}
.capimg	{}
.capnor	{font-size:12px;font-weight:normal;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{font-size:10px;text-anchor:end;font-weight:normal;}
.capshf	{fill:#009;}
.capctl	{fill:#090;}
.capalt	{fill:#900;}
.capagr	{fill:#909;}
.capxtr	{fill:#099;}
.bakshf	{fill:none;}
.bakctl	{fill:none;}
.bakalt	{fill:none;}
.bakagr	{fill:none;}
.bakxtr	{fill:none;}
.recred	{fill:#f00;}
.recyel	{fill:#ff0;}
.recgrn	{fill:#0f0;}
.reccyn	{fill:#0ff;}
.recblu	{fill:#00f;}
.recmag	{fill:#f0f;}
.recwht	{fill:#fff;}
.recgry	{fill:#999;}
.recblk	{fill:#000;}
.recorg	{fill:#f90;}
.recolv	{fill:#990;}
.recbrn	{fill:#830;}
.recnon	{fill:#000;}
.recred,.recyel,.recgrn,.reccyn,.recblu,.recmag,.recwht,.recgry,.recblk,.recorg,.recolv,.recbrn,.recnon
	{stroke:#fff;}
.txtred	{fill:#fff;}
.txtyel	{fill:#fff;}
.txtgrn	{fill:#fff;}
.txtcyn	{fill:#fff;}
.txtblu	{fill:#fff;}
.txtmag	{fill:#fff;}
.txtwht	{fill:#000;}
.txtgry	{fill:#fff;}
.txtblk	{fill:#fff;}
.txtorg	{fill:#fff;}
.txtolv	{fill:#fff;}
.txtbrn	{fill:#fff;}
.txtnon	{fill:#fff;}
