*	{}
svg	{font-family:DejaVu Sans Condensed,Sans-Serif;font-size:14px;}
#bkgrec	{stroke:none;fill:#404040;}
.keyout	{overflow:visible;}
.legtxt	{font-size:14px;fill:#ffffff;}
.keyhgh,.keylow,.keyrgt
	{font-size:12px;font-weight:bold;}
.keyrgt	{text-anchor:end;}
.keyrec	{}
.capnor	{font-size:12px;font-weight:normal;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{font-size:10px;text-anchor:end;font-weight:normal;}
/* http://www.easyrgb.com/index.php?X=CALC */
/* CIE-L*Ch(ab) D65/2° */
.capshf	{fill:#077BC7;}	/* ( 50, 47,270)	blue	*/
.capctl	{fill:#028946;}	/* ( 50, 55,150)	green	*/
.capalt	{fill:#ED0631;}	/* ( 50, 88, 30)	red	*/
.capagr	{fill:#D403CB;}	/* ( 50, 97,330)	magenta	*/
.capxtr	{fill:#0B848F;}	/* ( 50, 29,210)	cyan	*/
.bakshf	{fill:none;}
.bakctl	{fill:none;}
.bakalt	{fill:none;}
.bakagr	{fill:none;}
.bakxtr	{fill:none;}
.capimg	{}
/* http://www.easyrgb.com/index.php?X=CALC */
/* CIE-L*Ch(ab) D65/2° */
.recred	{fill:#FC9C93;}	/* ( 74, 40, 30)	red	*/
.recyel	{fill:#CEB46C;}	/* ( 74, 40, 90)	yellow	*/
.recgrn	{fill:#7CC690;}	/* ( 74, 40,150)	green	*/
.reccyn	{fill:#0CC9D9;}	/* ( 74, 40,210)	cyan	*/
.recblu	{fill:#80B9FF;}	/* ( 74, 40,270)	blue	*/
.recmag	{fill:#E4A0DB;}	/* ( 74, 40,330)	magenta	*/
.recwht	{fill:#ffffff;} /* 			white	*/
.recgry	{fill:#808080;}	/* 			gray	*/
.recblk	{fill:#000000;} /* 			black	*/
.recorg	{fill:#ECA777;}	/* ( 74, 40, 60)	orange	*/
.recolv	{fill:#A8BF75;}	/* ( 74, 40,120)	olive	*/
.recbrn	{fill:#685510;}	/* ( 37, 40, 90)	brown	*/
.recnon	{fill:#B6B6B6;}	/* ( 74,  0,  0)	blank	*/
.txtred	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40, 30)	red	*/
.txtyel	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40, 90)	yellow	*/
.txtgrn	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40,150)	green	*/
.txtcyn	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40,210)	cyan	*/
.txtblu	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40,270)	blue	*/
.txtmag	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40,330)	magenta	*/
.txtwht	{fill:#000000;filter:url(#filt_1);-webkit-filter:url(#filt_1);} /* 			white	*/
.txtgry	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* 			gray	*/
.txtblk	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);} /* 			black	*/
.txtorg	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40, 60)	orange	*/
.txtolv	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74, 40,120)	olive	*/
.txtbrn	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 37, 40, 90)	brown	*/
.txtnon	{fill:#ffffff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* ( 74,  0,  0)	blank	*/
