*	{}
svg	{font-family:DejaVu Sans Condensed,Sans-Serif;font-size:14px;}
#bkgrec	{stroke:none;fill:#444;}
.keyout	{overflow:visible;}
.legtxt	{font-size:14px;fill:#fff;}
.keyhgh,.keylow,.keyrgt
	{font-size:12px;font-weight:bold;}
.keyrgt	{text-anchor:end;}
.keyrec	{}
.capnor	{font-size:12px;font-weight:normal;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{font-size:10px;text-anchor:end;font-weight:normal;}
/* http://www.easyrgb.com/index.php?X=CALC */
/* CIE-L*Ch(ab) D65/2° */
.capshf	{fill:#077BC7;}	/* ( 50, 47,270)	blue	*/
.capctl	{fill:#028946;}	/* ( 50, 55,150)	green	*/
.capalt	{fill:#ED0631;}	/* ( 50, 88, 30)	red	*/
.capagr	{fill:#D403CB;}	/* ( 50, 97,330)	magenta	*/
.capxtr	{fill:#0B848F;}	/* ( 50, 29,210)	cyan	*/
.bakshf	{fill:none;}
.bakctl	{fill:none;}
.bakalt	{fill:none;}
.bakagr	{fill:none;}
.bakxtr	{fill:none;}
.capimg	{}
/* http://www.easyrgb.com/index.php?X=CALC */
/* CIE-L*Ch(ab) D65/2° */
.recred	{fill:#FC9C93;}	/* ( 74, 40, 30) */
.recyel	{fill:#CEB46C;}	/* ( 74, 40, 90) */
.recgrn	{fill:#7CC690;}	/* ( 74, 40,150) */
.reccyn	{fill:#0CC9D9;}	/* ( 74, 40,210) */
.recblu	{fill:#80B9FF;}	/* ( 74, 40,270) */
.recmag	{fill:#E4A0DB;}	/* ( 74, 40,330) */
.recwht	{fill:#ffffff;}
.recgry	{fill:#808080;}
.recblk	{fill:#000000;}
.recorg	{fill:#ECA777;}	/* ( 74, 40, 60) */
.recolv	{fill:#A8BF75;}	/* ( 74, 40,120) */
.recbrn	{fill:#685510;}	/* ( 37, 40, 90) */
.recnon	{fill:#B6B6B6;}
.txtred	{fill:#000000;}
.txtyel	{fill:#000000;}
.txtgrn	{fill:#000000;}
.txtcyn	{fill:#000000;}
.txtblu	{fill:#000000;}
.txtmag	{fill:#000000;}
.txtwht	{fill:#000000;}
.txtgry	{fill:#000000;}
.txtblk	{fill:#ffffff;}
.txtorg	{fill:#000000;}
.txtolv	{fill:#000000;}
.txtbrn	{fill:#000000;}
.txtnon	{fill:#000000;}
/*
Not much support for these in browsers. Will need to recalculate everything if I use them.
.ideo	{alignment-baseline:ideographic;}
.hang	{alignment-baseline:hanging;}
*/
