*	{}
svg	{font-family:Verdana,Sans-Serif;font-size:14px;}
#bkgrec	{stroke:none;fill:#ffffff;}
.keyout	{overflow:visible;}
.legtxt	{font-size:14px;fill:#000000;}
.keyhgh,.keylow,.keyrgt
	{font-size:12px;font-weight:bold;}
.keyrgt	{text-anchor:end;}
.keyrec	{}
.capnor	{font-size:12px;font-weight:normal;}
.capimg	{}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{font-size:10px;text-anchor:end;}
.capshf	{fill:#ffffff;}
.capctl	{fill:#ffffff;}
.capalt	{fill:#ffffff;}
.capagr	{fill:#000000;}
.capxtr	{fill:#ffffff;}
.bakshf	{fill:#404040;}
.bakctl	{fill:#808080;}
.bakalt	{fill:#c0c0c0;}
.bakagr	{fill:#ffffff;}
.bakxtr	{fill:#000000;}
/*
.bakshf	{fill:url(#gry04)}
.bakctl	{fill:url(#gry08)}
.bakalt	{fill:url(#gry12)}
.bakagr	{fill:url(#gry16)}
.bakxtr	{fill:url(#gry00)}
*/
.recred	{fill:url(#pat01);}
.recyel	{fill:url(#pat02);}
.recgrn	{fill:url(#pat03);}
.reccyn	{fill:url(#pat04);}
.recblu	{fill:url(#pat09);}
.recmag	{fill:url(#pat23);}
.recwht	{fill:#ffffff;}
.recgry	{fill:#808080;}
.recblk	{fill:#000000;}
.recorg	{fill:url(#pat07);}
.recolv	{fill:url(#pat08);}
.recbrn	{fill:url(#pat10);}
.recnon	{fill:#ffffff;}
.recred,.recyel,.recgrn,.reccyn,.recblu,.recmag,.recwht,.recgry,.recblk,.recorg,.recolv,.recbrn,.recnon
	{stroke:#ccc;stroke-width:1px;}		/* filter:url(#filt_1);-webkit-filter:url(#filt_1); */
.txtred	{fill:#000000;}
.txtyel	{fill:#000000;}
.txtgrn	{fill:#000000;}
.txtcyn	{fill:#000000;}
.txtblu	{fill:#000000;}
.txtmag	{fill:#000000;}
.txtwht	{fill:#000000;}
.txtgry	{fill:#000000;}
.txtblk	{fill:#ffffff;}
.txtorg	{fill:#000000;}
.txtolv	{fill:#000000;}
.txtbrn	{fill:#000000;}
.txtnon	{fill:#000000;}
