*	{}
svg	{font-family:Verdana,sans-serif;font-size:14px;}
#bkgrec	{stroke:none;fill:#ffffff;}
.keyout	{overflow:visible;}
.legtxt	{font-size:14px;fill:#000;}
.legkey	{fill:#fff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}
.keyhgh,.keylow,.keyrgt
	{font-size:12px;font-weight:bold;fill:#000;}
.keyrgt	{text-anchor:end;}
.keyrec	{}
.capnor	{font-size:12px;font-weight:normal;fill:#000;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{font-size:10px;text-anchor:end;font-weight:normal;}
.capshf	{fill:#00e;}
.capctl	{fill:#080;}	/* darker	*/
.capalt	{fill:#e00;}
.capagr	{fill:#ee0;}
.capxtr	{fill:#0ee;}
.bakshf	{fill:none;}
.bakctl	{fill:none;}
.bakalt	{fill:none;}
.bakagr	{fill:none;}
.bakxtr	{fill:none;}
.capimg	{}
.reccssA	{fill:#fcc;filter:url(#filt_1);-webkit-filter:url(#filt_1);}
.reccssB	{fill:#ffc;filter:url(#filt_1);-webkit-filter:url(#filt_1);}
.reccssC	{fill:#cfc;filter:url(#filt_1);-webkit-filter:url(#filt_1);}
.reccssD	{fill:#cff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}
.reccssE	{fill:#ccf;filter:url(#filt_1);-webkit-filter:url(#filt_1);}
.reccssF	{fill:#fcf;filter:url(#filt_1);-webkit-filter:url(#filt_1);}
.reccssG	{fill:#fff;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* white	*/
.reccssH	{fill:#000;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* black	*/
.reccssI	{fill:#ccc;filter:url(#filt_1);-webkit-filter:url(#filt_1);}	/* gray		*/
.txtcssA	{fill:#000;}
.txtcssB	{fill:#000;}
.txtcssC	{fill:#000;}
.txtcssD	{fill:#000;}
.txtcssE	{fill:#000;}
.txtcssF	{fill:#000;}
.txtcssG	{fill:#000;}
.txtcssH	{fill:#000;}
.txtcssI	{fill:#000;}
.recred	{}
.recyel	{}
.recgrn	{}
.reccyn	{}
.recblu	{}
.recmag	{}
.recwht	{}
.recgry	{}
.recblk	{}
.recorg	{}
.recolv	{}
.recbrn	{}
.recnon	{}
.txtred	{}
.txtyel	{}
.txtgrn	{}
.txtcyn	{}
.txtblu	{}
.txtmag	{}
.txtwht	{}
.txtgry	{}
.txtblk	{}
.txtorg	{}
.txtolv	{}
.txtbrn	{}
.txtnon	{}
