*	{}
svg	{font-family:Verdana,Sans-Serif;font-size:14px;}
#bkgrec	{stroke:none;fill:#ffffff;}
.keyout	{overflow:visible;}
.legtxt	{font-size:14px;fill:#000000;}
.keyhgh,.keylow,.keyrgt
	{font-size:12px;font-weight:bold;}
.keyrgt	{text-anchor:end;}
.keyrec	{}
.capnor	{font-size:12px;font-weight:normal;}
.capshf,.capctl,.capalt,.capagr,.capxtr
	{font-size:10px;text-anchor:end;font-weight:normal;}
.capshf	{fill:#0000c0;}
.capctl	{fill:#00c000;}
.capalt	{fill:#c00000;}
.capagr	{fill:#c0c000;}
.capxtr	{fill:#00c0c0;}
.bakshf	{fill:none;}
.bakctl	{fill:none;}
.bakalt	{fill:none;}
.bakagr	{fill:none;}
.bakxtr	{fill:none;}
.capimg	{}
.recred	{fill:#ff6600;}
.recyel	{fill:#ffcc00;}
.recgrn	{fill:#99cc00;}
.reccyn	{fill:#00ffcc;}
.recblu	{fill:#3366ff;}
.recmag	{fill:#ff99cc;}
.recwht	{fill:#ffffff;stroke:#ccc;}
.recgry	{fill:#999999;}
.recblk	{fill:#333333;}
.recorg	{fill:#cc9900;}
.recolv	{fill:#999900;}
.recbrn	{fill:#663300;}
.recnon	{fill:#c0c0c0;}
.txtred	{fill:#000000;}
.txtyel	{fill:#000000;}
.txtgrn	{fill:#000000;}
.txtcyn	{fill:#000000;}
.txtblu	{fill:#000000;}
.txtmag	{fill:#000000;}
.txtwht	{fill:#000000;}
.txtgry	{fill:#000000;}
.txtblk	{fill:#ffffff;}
.txtorg	{fill:#000000;}
.txtolv	{fill:#000000;}
.txtbrn	{fill:#000000;}
.txtnon	{fill:#000000;}
