# Deny all PHP files en masse
<FilesMatch "\.php$">
    Order deny,allow
    Deny from all
</FilesMatch>

# Allow specific PHP files
<FilesMatch "^scripts-recaptcha\.php$">
    Order deny,allow
    Allow from all
</FilesMatch>
<FilesMatch "^keyboard-init\.php$">
    Order deny,allow
    Allow from all
</FilesMatch>
