*			{font-family:Sans-Serif;line-height:150%;font-size:small;}
body		{margin:2em;color:#000000;background-color:#e0e0e0;background-image:url("isometric-grid.png");background-position:fixed;}
table		{border:solid 0.1em #000000;border-spacing:0;border-collapse:separate;}
tr			{vertical-align:middle;}
th			{text-align:left;color:#ffffff;margin:0;border:solid 0.1em #000000;padding:0.3em;background-color:#000000;}
td			{text-align:left;color:#000000;margin:0;border:solid 0.1em #000000;padding:0.0em;background-color:transparent;}
textarea	{text-align:left;color:#000000;margin:0;border:solid 0.0em #000000;padding:0.1em;background-color:transparent;}
/*input[type=text]	{margin:0;border:none;padding:0.1em;height:1.6em;background:#ffc0c0;}*/
input[type=text]	{margin:0;border:none;padding:0.1em;height:1.6em;background-color:transparent;}
select				{margin:0;border:none;padding:0.1em;             background-color:transparent;}
option				{margin:0;border:none;padding:0.1em;             background-color:transparent;}
optgroup			{margin:0;border:none;padding:0.1em;             background-color:transparent;font-weight:bold;}
.sel_div	{width:17em;}
.sel_div option:disabled	{font-style:italic;}		/* does not work in all browsers, especially on OSX */
.sel_div option:checked		{background:#c0c0a0 linear-gradient(0deg, #c0c0a0 0%, #c0c0a0 100%);}		/* does not work in all browsers, especially on OSX */
.sel_div select:focus option:checked {}
#keysub_div	td input[type=text]		{width:10em;}
#keysub_div	td select				{width:5.0em;height:1.6em;}
#keysub_div	td select option		{width:4.8em;height:1.4em;}		/* seems to not have any effect in Chrome */
#hednav		{border:none;border-spacing:0;border-collapse:separate;}
#hednav tr	{vertical-align:middle;}
#hednav th	{text-align:left;color:#000000;margin:0;border:none;padding:0;}
#hednav td	{text-align:left;color:#000000;margin:0;border:none;padding:0;padding-right:0.5em;}
.non	{background-color:transparent;color:#000000;}
.red	{background-color:#e02020;color:#ffffff;font-weight:bold;}
.yel	{background-color:#e0e020;color:#ffffff;font-weight:bold;}
.grn	{background-color:#20e020;color:#ffffff;font-weight:bold;}
.cyn	{background-color:#20e0e0;color:#ffffff;font-weight:bold;}
.blu	{background-color:#2020e0;color:#ffffff;font-weight:bold;}
.mag	{background-color:#e020e0;color:#ffffff;font-weight:bold;}
.wht	{background-color:#ffffff;color:#000000;font-weight:bold;}
.gry	{background-color:#808080;color:#ffffff;font-weight:bold;}
.blk	{background-color:#000000;color:#ffffff;font-weight:bold;}
.org	{background-color:#ff8000;color:#ffffff;font-weight:bold;}
.olv	{background-color:#808000;color:#ffffff;font-weight:bold;}
.brn	{background-color:#804000;color:#ffffff;font-weight:bold;}
